<!-- Included JS Files (Compressed) -->
  <script src="javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>
  <script src="javascripts/scripts.js"></script>
  <script src="javascripts/jquery.tooltipster.js"></script>
    <script>
    $(window).load(function(){
      $("#featured").orbit({
        directionalNav: false,
      });
      
      $("#project-1-slideshow").orbit({
        directionalNav: false,
      });
      
    });
    </script> 