  <a id="home-nav"></a>
  <div class="navi" data-magellan-expedition>
            <ul >
              <li data-magellan-arrival='home' class="hasatip" data-width="210" title="Home"><a href="index.html#home-nav" class="scroll"><i class="icon-home"></i></a></li>
              <li data-magellan-arrival='profile' class="hasatip" data-width="210" title="Profile"><a href="index.html#profile-nav" class="scroll"><i class="icon-user"></i></a></li>
              <li data-magellan-arrival='resume' class="hasatip" data-width="210" title="Resume"><a href="index.html#resume-nav" class="scroll"><i class="icon-reorder"></i></a></li>
              <li data-magellan-arrival='contact' class="hasatip" data-width="210" title="Contact"><a href="index.html#contact-nav" class="scroll"><i class="icon-envelope"></i></a></li>             
            </ul>
            </div>